#header {
  background-attachment: scroll,							scroll,					fixed;
  background-image: url("images/top-3200.svg"), url("images/wx-overlay.png"), url("../../images/header.jpg");
  background-position: bottom center,					top left,				center center;
  background-repeat: repeat-x,						repeat,					no-repeat;
  background-size: 3200px 460px,					auto,					cover;
  color: rgba(255, 255, 255, 0.8);
  padding: 10em 0 20em 0;
  position: relative;
  text-align: center;
}
